{:dependencies [[devcards "0.2.6"]
                [com.taoensso/timbre "5.1.2"]
                [integrant "0.8.0"]
                [funcool/cuerdas "2021.05.09-0"]
                [macchiato/core "0.2.22"]
                [macchiato/http "0.1.2"]
                [metosin/reitit "0.5.10"]
                [metosin/reitit-ring "0.5.10"]
                [metosin/reitit-swagger "0.5.12"]]

 :source-paths ["src"]
 ; :dev-http {3000 "public"}
 :nrepl {:port 3333}
 
 :builds
 {:server
  {:main server.core/main
   :output-to "build/server.js"
   :target :node-script}
  
  :cli
  {:target :node-script
   :main cli.core/main
   :output-to "bin/crypto-egg"}
  
  :test {:ns-regexp "app.cards"
         :output-to "out/test.js"
         :target :node-test}
  :e2e {:ns-regexp "e2e.*"
        :output-to "out/e2e.js"
        :target :node-test}}}

